<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码页面</title>
</head>
    <link rel="stylesheet" href="/css/changepassword/demo.css">
    <link rel="stylesheet" href="/css/changepassword/iconfont.css">
    <link rel="stylesheet" href="/css/changepassword/me.css">
    <link rel="stylesheet" href="/css/changepassword/mobile_base.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
<body>
	<form action="/admin/home/pass_save" method="post">
    <div class="login_reg all_center_box" style="position:absolute;top:50%;margin-top:-100px;left:50%;margin-left:-100px;">
        <ul>
          <li><i class="icon iconfont"></i>
            <input name="old_password" type="password" class="input_text_password mima_dd " placeholder="请输入旧密码" style="display: inline-block;">
            <a class="eyes_box " data-show="1" href="javascript:void(0);"><i class="icon iconfont"></i></a> </li>
          </li>
          <li><i class="icon iconfont"></i>
            <input name="new_password" type="password" class="input_text_password mima_dd " placeholder="请输入新密码" style="display: inline-block;">
            <a class="eyes_box " data-show="1" href="javascript:void(0);"><i class="icon iconfont"></i></a> </li>
          <li>
            <i class="icon iconfont"></i>
            <input name="replace_password" type="password" class="input_text_password mima_dd " placeholder="请再次输入新密码" style="display: inline-block;">
            <a class="eyes_box " data-show="1" href="javascript:void(0);"><i class="icon iconfont"></i></a> </li>
          </li>
          </ul>
		     <input type="submit" class="denglu_but" value="提交" style="border:none;"/>
             <p align="center"><a  href="/admin/home/index" class="f12 c999">返回</a></p>
      </div>
	  </form>
      <script src="/js/changepassword/js/jquery.qrcode.min.js"></script>
      <script src="/js/changepassword/js/pace.min.js"></script>
      <script src="/js/changepassword/js/app_mian.js"></script>
</body>
</html>