<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<form action="/admin/home/pass_save" method="post">
			
			
			<input type="password" name="old_password" id="" placeholder="请输入原密码" value="" />
			<input type="password" name="new_password" id="" placeholder="请输入新密码" value="" />
			<input type="password" name="repeat_password" id="" placeholder="请重复输入密码" value="" />
			
			<input type="submit" value="提交">
		</form>
		
	</body>
</html>
